
<ng-container *ngIf="number0[0] > 0">
    <app-balance [data]="data" [number]="number0"></app-balance>
</ng-container>
<ng-container *ngIf="number1[0] > 0">
    <app-balance [data]="data" [number]="number1"></app-balance>
</ng-container>
<ng-container *ngIf="number2[0] > 0">
    <app-balance [data]="data" [number]="number2"></app-balance>
</ng-container>
<ng-container *ngIf="number3[0] > 0">
    <app-balance [data]="data" [number]="number3"></app-balance>
</ng-container>
<ng-container *ngIf="number4[0] > 0">
    <app-balance [data]="data" [number]="number4"></app-balance>
</ng-container>
<ng-container *ngIf="number5[0] > 0">
    <app-balance [data]="data" [number]="number5"></app-balance>
</ng-container>
<ng-container *ngIf="number6[0] > 0">
    <app-balance [data]="data" [number]="number6"></app-balance>
</ng-container>
<ng-container *ngIf="number7[0] > 0">
    <app-balance [data]="data" [number]="number7"></app-balance>
</ng-container>
<ng-container *ngIf="number8[0] > 0">
    <app-balance [data]="data" [number]="number8"></app-balance>
</ng-container>
<ng-container *ngIf="number9[0] > 0">
    <app-balance [data]="data" [number]="number9"></app-balance>
</ng-container>
<ng-container *ngIf="number10[0] > 0">
    <app-balance [data]="data" [number]="number10"></app-balance>
</ng-container>

