.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.buttons-container button {
    margin: 0px 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile button {
    background: url('/assets/logo.jfif') center no-repeat; 
}

.profile p {
    padding: 10px 0px 0px 5px;
}

