.dialog-content {
  width: 650px;
  min-height: 260px;
  max-height: 70vh;
}

.mat-tab-text {
  margin-bottom: 0rem;
  padding: 0rem 0.3rem;
  font: 400 18px / 36px Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-icon {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

.mat-tab-icon {
  background-color: #f1f1f1;
  color: var(--sancor-blue);
}

.seeker-fields-container {
  display: grid;
  grid-template-columns: 315px 1fr;
  align-items: center;
  column-gap: 0rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.primary-button {
  width: 130px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  color: #fff;
}

.cont {
  display: grid;
  grid-template-columns: 1fr 75px;
  gap: 0.3rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 0.35rem;
  margin: 0px 0px 16px;
  background-color: var(--sancor-blue);
  color: #fff;
  cursor: pointer;
}

/*
  * Estilos del boton "Guardar" para que este deshabilitado.
*/
.fix {
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: pointer;
  cursor: not-allowed;
  filter: grayscale(100%);
}

.disabled:hover {
  filter: grayscale(100%);
}

.warning-hint {
  color: red;
  font-size: 11px;
}

.buttons-container {
  margin-bottom: 20px;
}

.botonera {
  padding-left: 20%;
  padding-right: 25%;
  padding-bottom: 30px;
}

.btn-redireccion {
  height: 37.2px;
  width: 100% !important;
  white-space: nowrap;
}